<template>
  <div class="about">
    <h1>Esta es la pagina about</h1>
    <h3>Miembros</h3>
    <ul>
      <li v-for="member in members">
        {{ member.name | capitalize }}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "Products",
  data() {
    return {
      members: [
        {
          id: 1,
          name: "ignacio",
        },
        {
          id: 2,
          name: "rodolfo",
        },
        {
          id: 3,
          name: "florencia",
        },
      ],
    };
  },
  filters: {
    capitalize(value) {
      return value.charAt(0).toUpperCase() + value.slice(1);
    },
  },
};
</script>
