<template>
  <div>
    <BreadCrumbs namePage="Contactos"/>
    <ContactList msg="Esta es la pagina de Contactos">
        <ul>
            <li>Facebook</li>
            <li>Twitter</li>
        </ul>

        <template slot="email">
            <h3>
                example@gmail.com
            </h3>
        </template>

    </ContactList>
  </div>
</template>

<script>
import ContactList from '@/components/ContactList.vue'
import BreadCrumbs from "@/components/BreadCrumbs.vue";

export default {
  name: 'Contacts',
  components: {
    ContactList,
    BreadCrumbs
  }
}
</script>