<template>
  <div>
    <h1>Esta es la pagina de preguntas mas frecuentes</h1>
    <h3>¿Cual es tu nombre?</h3>
    <input type="text" v-model="question" />
    <br />
    <p>{{ answer }}</p>
  </div>
</template>

<script>
export default {
  name: "FAQ",
  data() {
    return {
      question: "",
      answer: "",
    };
  },
  watch: {
    question: function() {
      let vm = this;
      vm.answer = "Cambiando nombre....";
      setTimeout(function() {
        vm.answer = "Hola " + vm.question;
      }, 2000);
    },
  },
};
</script>
