<template>
  <div class="home">
    <BreadCrumbs namePage="Home" />

    <button @click="hello">Saludar</button>
    <button @click="goodbye">Despedirse</button>

    <HelloWorld msg="Home " />
    <div v-for="(post, index) in posts" class="post" :key="index">
      <h4>{{ post.title }}}</h4>
      <p>{{ post.body }}}</p>
    </div>
  </div>
</template>

<script>
import HelloWorld from "@/components/HelloWorld.vue";
import BreadCrumbs from "@/components/BreadCrumbs.vue";
import axios from "axios";
import { misMixins } from "@/mixins.js";

export default {
  name: "Home",
  components: {
    HelloWorld,
    BreadCrumbs,
  },
  data() {
    return {
      posts: [],
    };
  },
  mounted() {
    // let vue = this;
    axios
      .get("https://jsonplaceholder.typicode.com/posts")
      .then(res => (this.posts = res.data));
  },
  mixins: [misMixins],
};
</script>

<style>
.post {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 10px;
}
</style>
