<template>
  <div>
    <h1>Esta es la pagina de productos</h1>

    <button v-on:click="showData">{{ msg }}</button>

    <ul v-show="show">
      <li v-for="product in productsList" :key="product.id">
        Nombre: {{ product.name }} - Precio: ${{ product.price }}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "Products",
  data() {
    return {
      productsList: [
        {
          id: 1,
          name: "Producto 1",
          price: 100,
        },
        {
          id: 2,

          name: "Producto 2",
          price: 200,
        },
        {
          id: 3,
          name: "Producto 3",
          price: 300,
        },
      ],
      show: false,
      msg: "Ver productos",
    };
  },
  methods: {
    showData: function() {
      this.show = !this.show;
      this.msg = this.show ? "Cerrar productos" : "Ver productos";
    },
  },
};
</script>
