<template>
  <ul>
    <li v-for="(service, index) in services" :key="index">
      <b>Nombre:</b> {{ service.name }} - <b>Descripcion:</b>
      {{ service.description }}
    </li>
  </ul>
</template>

<script>
export default {
  name: "Services",
  data() {
    return {
      services: [
        {
          name: "Service 1",
          description: "Description 1",
        },
        {
          name: "Service 2",
          description: "Description 2",
        },
        {
          name: "Service 3",
          description: "Description 3",
        },
      ],
    };
  },
};
</script>
