<template>
  <div>
    <h1>{{ msg }}</h1>
    <slot></slot>
    <slot name="email"></slot>
  </div>
</template>

<script>
export default {
  name: 'ContactList',
  props: {
    msg: String
  }
}
</script>
