<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/products">Products</router-link> |
      <router-link to="/services">Services</router-link> |
      <router-link to="/contacts">Contacts</router-link> |
      <router-link to="/about">About</router-link> |
      <router-link to="/faq">FAQ</router-link>
    </div>
    <router-view/>
  </div>
</template>


